button {
    border: 4px solid #17ce17;
    color: #17ce17;
    background-color: #616161;
    padding: 1vh 0.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

button:hover {
    color: #616161;
    background-color: #17ce17;
}